@font-face {
    font-family: "oswald";
    src: url("./Resources/oswald-v49-latin-500.woff2")format("woff2"),
         url("./Resources/oswald-v49-latin-500.woff")format("woff"),
         url("./Resources/oswald-v49-latin-500.ttf")format("truetype");
}
@font-face {
    font-family: "pacifico";
    src: url("./Resources/pacifico-v22-latin-regular.woff2")format("woff2"),
         url("./Resources/pacifico-v22-latin-regular.woff")format("woff"),
         url("./Resources/pacifico-v22-latin-regular.ttf")format("truetype");
}
* {
    margin: 0;
}
.main-container {
    display: flex;
    flex-flow: column wrap;
}
body,html {
    font-size: 18px;
    margin:0;
    font-family: "oswald", sans-serif;
    color: rgb(15, 15, 15);
}
.navbar-list a,.navbar-list2 a {
    color: rgb(15, 15, 15);
    text-decoration: none;
}
.button,.rights,.footer p,.container2,#feature {
    text-align: center;
}
li:hover, button:hover,.sec2 img {
    cursor: pointer;
}
hr{
    margin: 0 13rem 0 20rem;
    
}
/* header section styles*/
h1 {
    font-weight: bold;
    font-size: 2.3rem;
    width:34rem;
    font-family: "pacifico";
    text-align: right;
    color:rgb(30, 30, 167);
}
.header-cont,.navbar{
    display:flex;
    width: 100%;
    justify-content: flex-end;
}
.navbar-list {
    font-size: 1.2rem;
    display: inline-flex;
    justify-content: center;
    list-style-type: none;
    width: 84%;
    flex-wrap: wrap;
}
#sign {
    font-size: 1.6rem;
}
.navbar-list li:hover {
    text-decoration: underline;
}
.navbar-list li {
    width: 10rem;
    text-align: center;
}
/* Section 1 styles*/
.sec1 {
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: auto;
}
.container1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; 
    text-align: center; 
    align-items: center;
    justify-content: space-around;
}
button:hover {
    background-color: rgb(8, 8, 51);
}
.start {
    width: 10rem;
    height: 2.8rem;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: 2px solid rgb(15, 15, 15);
    background-color: rgb(30, 30, 167);
    color: rgb(255, 255, 255);
    font-family: "oswald", sans-serif;
}  
h2 {
    padding-top: 2.5rem;
    font-size: 2.8rem;
    
}
.appimg {
    width:40rem;
    height:20rem;
    border-radius: 5px;
}
/* Section 2 styles*/
.sec2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60rem;
}
.sec2 h2 {
    padding-top: 0;
    width: 100%;;
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    color: rgb(15, 15, 15);
}
.container2 img {
    height: 20rem;
    width: 40rem;
    border-radius: 5px;
}
.container2 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}
.sliders {
    display: inline-flex;
    flex-flow: row wrap;
    list-style-type: none;
    width: 30%;
    justify-content: center;
    align-items: center;
} 
.sliders li button {
    margin: 1.2rem;
    width: 3.4rem;
    height: 6px;
    border: 1px solid rgb(30, 30, 167);
}
.container2 p {
    font-size: 1.2rem;
    line-height: 2.8rem;
    text-align: center;
}
/*Footer sytles*/
.footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(15, 15, 15);;
}
.footer, .navbar-list2 li a {
    color: rgb(255, 255, 255);
}
.footer p {
    margin-bottom:1.7rem;
    padding-top: 1.2rem;
}
.navbar-list2,.social-media{
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 3.4rem;
}
.navbar-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.social-media {
    font-family:"pacifico";
}