@font-face {
    font-family: "oswald";
    src: url("./Resources/oswald-v49-latin-500.woff2")format("woff2"),
         url("./Resources/oswald-v49-latin-500.woff")format("woff"),
         url("./Resources/oswald-v49-latin-500.ttf")format("truetype");
}
@font-face {
    font-family: "pacifico";
    src: url("./Resources/pacifico-v22-latin-regular.woff2")format("woff2"),
         url("./Resources/pacifico-v22-latin-regular.woff")format("woff"),
         url("./Resources/pacifico-v22-latin-regular.ttf")format("truetype");
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-size: 18px;
    font-family: "oswald", sans-serif;
    color: rgb(15, 15, 15);
}
a {
    text-decoration: none;
}
li:hover, button:hover,.sec2 img ,.leftnav:hover,.rightnav:hover {
    cursor: pointer;
}
.hdc, .s1ctn3b,.sec2,.footer{
    background-image:radial-gradient(#3e3e88, #020236 100%);
}
a, #hdcl, .s1ctn3b,.footer {
    color: rgb(255, 255, 255);
}
/* header section styles*/
.nvb_list,.nbl,.nvb{
    display: flex;
}
#hdcl{
    font-weight: bold;
    font-size: 2.3rem;
    font-family: "pacifico";
}
.hdc {
    position: sticky;
    top: 0;
    width: 100%;
}
.nvb {
    align-items: center;
}
.nvb_list {
    font-size: 1.11rem;
    list-style-type: none;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: center; 
}
#nblog {
    flex-basis: 60rem;
    padding-left: 0.3rem;
}
.clk2,.clk3,.clk4{
    padding-left: 1.5rem;
}
/* Section 1 styles*/
.s1ctn3, .s1ctn2,.s1ctn1 {
    display: flex;
    justify-content: center;
}
.sec1 {
    margin-top: 5rem;
    display: grid;
    grid-template-rows: 10rem 32rem 5rem;
    row-gap: 1.11rem;
    justify-content: center;
}
.s1ctn1 {
    text-align: center;
    font-size: 2.4rem;
    max-width: 80rem;
    align-items: center;
}
.s1ctn2im {
    object-fit: contain;
}
.s1ctn3b{
    width: 10rem;
    height: 2.8rem;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: 2px solid rgb(15, 15, 15);
    font-family: "oswald", sans-serif;
}
.s1ctn3 {
    align-items: flex-end;
}
/* Section 2 styles*/
.cont-box,.sec2, .s2ctn2slid,.s2ctn2 {
    display: flex;
    justify-content: center;
}
.cont-box {
    margin-top: 15rem;
    justify-content: center;
}
.rightnav, .leftnav{
  font-size: 2.8rem;
  align-self: center;
}
.rightnav::before{
    content:">";
    font: 2.8rem 'Consolas';
    font-weight:900;
    color: rgb(255, 255, 255);
    align-self: center;
  }
.leftnav::before {
    content:"<";
    font: 2.8rem 'Consolas';
    font-weight:900;
    color: rgb(255, 255, 255);
    align-self: center;
}
.sec2,.s2ctn2 {
    border-radius: 1rem;
}
.sec2 {
    flex-direction: row;
    padding:0 1rem;
}
.s2ctn2 {
    flex-direction: column;
    margin: 1.5rem;
    background-color: rgb(255, 255, 255);
    width: 20.5rem;
    height: 31.6rem;
}
.s2ctn2im,.s2ctn2d {
    height: 40%;
}
.s2ctn2d {
    flex-basis: 100%;
}
.fs2ctn2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    height:20%;
}
.fs2ctn2d {
    text-align: center;
    font-size: 1rem;
    white-space: normal;
    line-height: 2rem;
    box-sizing: border-box;
}
.fs2ctn2im {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.s2ctn2slidctn {
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    justify-content: space-evenly;
    margin: 1.2rem auto 11.222rem auto;
}
.sliders {
    display: inline-flex;
    list-style-type: none;
    justify-content: center;
} 
.sliders li button {
    margin: 1.2rem;
    width: 3.4rem;
    height: .4rem;
    border: .11rem solid rgb(30, 30, 167);
}
/*Footer sytles*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fctnr {
    align-self: flex-end;
    margin-left: 15rem;
    padding-bottom: 1rem;
}
.nvbf2,.nvbf1{
    font-size: 1.2rem;
    line-height: 3.4rem;
}
.nvbfl2 li {
    list-style: none;
}
.nvbf2 {
    font-family:"pacifico";
    padding-left: 13rem;
}
/*media queries*/
@media only screen and (max-width:400px) {
    body {
      font-size: 16px;
      margin:0;
      width: 400px;
    }
    /*header */
    .header-cont {
        position:static;
    }
    .header-cont h1 {
        text-align: left;
    }
    .navbar-list,#sign{
        font-size: 1rem;
    }
    /*section 1*/
    .container1,.container2,.sec1,.sec2 {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        height: auto;
        flex-basis: auto;
    }
    .container1 img, #feature1,#feature2,#feature3 {
        width: 100%;
        object-fit: cover;
    }
    .container1,.container1 img {
        padding: 2rem 0 2rem 0;
    }
    /*section2 */
   .container2 h2 {
    padding: 2.5rem 0 2.5rem 0;
    background-color: rgb(15, 15, 15);
    color: rgb(255, 255, 255);
   }
   .container2 p {
    width: 85%;
   }
   .sliders {
    display: none;
   }
}